@using Newtonsoft.Json
@using WalletTracker.Application.Balance

@model BalanceDto

@{
    ViewData["Title"] = "Balance";
    var today = DateOnly.FromDateTime(DateTime.UtcNow).ToString("yyyy-MM-dd");
    var balance = Model.TotalIncomesAmount - Model.TotalExpensesAmount;
}

<div class="mt-3">
    <div class="text-center mb-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#selectPeriod">
            Select period
        </button>
    </div>

    <h5 class="text-center mb-3">Balance from: @Model.StartDate to: @Model.EndDate</h5>

    <div class="modal fade" id="selectPeriod" tabindex="-1" aria-labelledby="selectPeriodLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="selectPeriodLabel">Select period</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="balanceForm" asp-action="Index" method="get">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input asp-for="StartDate" type="date" class="form-control" placeholder="Start date"
                                   value="@Model.StartDate.ToString("yyyy-MM-dd")" min="2000-01-01" max="@today">
                            <label asp-for="StartDate" class="control-label">Start date</label>
                            <span asp-validation-for="StartDate" class="text-danger" id="startDateSpan"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="EndDate" type="date" class="form-control" placeholder="End date"
                                   value="@Model.EndDate.ToString("yyyy-MM-dd")" min="2000-01-01" max="@today">
                            <label asp-for="EndDate" class="control-label">End date</label>
                            <span asp-validation-for="EndDate" class="text-danger" id="endDateSpan"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="dateSubmit" type="submit" class="btn btn-primary">Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="col-12 table-container p-3 rounded-2 mb-4">
                <h3 class="text-center mb-3">Incomes</h3>
                @if (Model.Incomes.Any()) {
                <div class="table-responsive">
                    <table class="table table-borderless mb-0 table-balance">
                        <tbody>
                            @foreach (var group in Model.Incomes)
                                {
                                    <tr class="border-top">
                                        <th class="py-2 balance-date" colspan="4">@group.FirstOrDefault()?.IncomeDate</th>
                                    </tr>
                                    @foreach (var item in group)
                                    {
                                        <tr class="border-bottom">
                                            <td>
                                                @item.CategoryName
                                            </td>
                                            <td class="comment">
                                                @item.Comment
                                            </td>
                                            <td align="right">
                                                @item.Amount PLN
                                            </td>
                                            <td align="right">
                                                <a class="bi bi-pencil mx-1" asp-controller="Income" asp-action="Edit" asp-route-id="@item.Id"></a>
                                                <form class="icon-form" asp-controller="Income" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                                    <button type="submit" class="bi bi-trash mx-1 icon-button-form"></button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                        </tbody>
                    </table>
                </div>
                <h3 class="text-center mb-3 mt-4">Summary</h3>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0 table-balance">
                        <tbody>
                            @foreach (var item in Model.IncomeTotalAmountInCategories)
                            {
                                <tr class="border-bottom">
                                    <td>
                                        @item.CategoryName
                                    </td>
                                    <td align="right">
                                        @item.TotalAmount PLN
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                }
                else
                {
                    <p class="text-center">No incomes to show.</p>
                }

            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-12 table-container p-3 rounded-2 mb-4">
                <h3 class="text-center mb-3">Expenses</h3>
                @if (Model.Expenses.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0 table-balance">
                            <tbody>
                                @foreach (var group in Model.Expenses)
                                {
                                    <tr class="border-top">
                                        <th class="py-2 balance-date" colspan="4">@group.FirstOrDefault()?.ExpenseDate</th>
                                    </tr>
                                    @foreach (var item in group)
                                    {
                                        <tr class="border-bottom">
                                            <td>
                                                <div>
                                                    @item.CategoryName
                                                </div>
                                                <div class="payment-method">
                                                    @item.PaymentName
                                                </div>
                                            </td>
                                            <td class="comment align-middle">
                                                @item.Comment
                                            </td>
                                            <td align="right" class="align-middle">
                                                @item.Amount PLN
                                            </td>
                                            <td align="right" class="align-middle">
                                                <a class="bi bi-pencil mx-1" asp-controller="Expense" asp-action="Edit" asp-route-id="@item.Id"></a>
                                                <form class="icon-form" asp-controller="Expense" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                                    <button type="submit" class="bi bi-trash mx-1 icon-button-form"></button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <h3 class="text-center mb-3 mt-4">Summary</h3>
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0 table-balance">
                            <tbody>
                                @foreach (var item in Model.ExpenseTotalAmountInCategories)
                                {
                                    <tr class="border-bottom">
                                        <td>
                                            @item.CategoryName
                                        </td>
                                        <td align="right">
                                            @item.TotalAmount PLN
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p class="text-center">No expenses to show.</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="m-0">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="col-lg-12 table-container p-3 rounded-2 mb-2">
                <h3 class="text-center mb-3">Overview</h3>
                <div class="table-responsive">
                    <table class="table table-borderless mb-0 table-balance">
                        <tbody>
                            <tr class="border-bottom">
                                <td>
                                    Incomes
                                </td>
                                <td align="right">
                                    @Model.TotalIncomesAmount PLN
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <td>
                                    Expenses
                                </td>
                                <td align="right">
                                    @Model.TotalExpensesAmount PLN
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <td>
                                    <strong>Balance</strong>
                                </td>
                                <td align="right" class="@(balance >= 0 ? "balance-green" : "balance-red")">
                                    <strong>@balance PLN</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @if (balance >= 0)
                {
                    <p class="text-center mt-4">
                        Congratulations! You manage your budget well.
                    </p>
                } else
                {
                    <p class="text-center mt-4">
                        Consider managing your budget more effectively.
                    </p>
                }
                @if (Model.Expenses.Any())
                {
                    <h3 class="mb-3 mt-4 text-center">Your expenses</h3>
                    <div class="mx-auto" id="chartContainer" style="height: 300px;"></div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/dateValidation.js"></script>
    <script src="~/js/balanceFormValidation.js"></script>
    <script src="~/lib/canvasjs/canvasjs.min.js"></script>

    <script>
        var groupedExpenses = @Html.Raw(JsonConvert.SerializeObject(Model.BalanceCanvasDtos));
    </script>

    <script src="~/js/showPieChart.js"></script>
}

