@model IEnumerable<IEnumerable<WalletTracker.Application.Income.GetIncomeDto>>

@{
    ViewData["Title"] = "Index";
}

<div class="my-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-12 table-container p-3 rounded-2 mb-4">
                <h3 class="text-center mb-3">Incomes</h3>
                <table class="table table-borderless mb-0 table-balance">
                    <tbody>
                        @foreach (var group in Model)
                        {
                            <tr class="border-top">
                                <th class="py-2 balance-date" colspan="4">@group.FirstOrDefault()?.IncomeDate</th>
                            </tr>
                            @foreach (var item in group)
                            {
                                <tr class="border-bottom">
                                    <td>
                                        @item.CategoryName
                                    </td>
                                    <td class="comment">
                                        @item.Comment
                                    </td>
                                    <td align="right">
                                        @item.Amount PLN
                                    </td>
                                    <td align="right">
                                        <a class="bi bi-pencil mx-1" href="#"></a>
                                        <a class="bi bi-trash mx-1" href="#"></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12 table-container p-3 rounded-2 mb-4">
                <h3 class="text-center mb-3">Expenses</h3>
                <table class="table table-borderless mb-0 table-balance">
                    <tbody>
                        @foreach (var group in Model)
                        {
                            <tr class="border-top">
                                <th class="py-2 balance-date" colspan="4">@group.FirstOrDefault()?.IncomeDate</th>
                            </tr>
                            @foreach (var item in group)
                            {
                                <tr class="border-bottom">
                                    <td>
                                        @item.CategoryName
                                    </td>
                                    <td class="comment">
                                        @item.Comment
                                    </td>
                                    <td align="right">
                                        @item.Amount PLN
                                    </td>
                                    <td align="right">
                                        <a class="bi bi-pencil mx-1" href="#"></a>
                                        <a class="bi bi-trash mx-1" href="#"></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>